/*  
-----------------
💤 Scss Reset here
----------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

 /*    &:not(ul) {
        padding: 0;
    } */
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none
}

button {
        all:unset
      }
img {
    max-width: 100%;
}